.everest {
    width: 300px;
    height: 300px;
    border: 1px solid black;
    position: relative;
    background: linear-gradient(61deg, transparent 64.5%, grey 0),
      linear-gradient(to left top, #ffbf00 10%, transparent 0) right bottom,
      /* triangle */ linear-gradient(61deg, transparent 66%, grey 0),
      linear-gradient(135deg, grey 36.5%, transparent 10%),
      linear-gradient(168deg, black 38.5%, transparent 10%),
      /* quadrilateral */ linear-gradient(168deg, grey 40%, transparent 0),
      linear-gradient(120deg, grey 34%, transparent 34%, transparent 0) 72px -30px,
      linear-gradient(20deg, gray 25%, transparent 25%) -20px -80px,
      linear-gradient(60deg, black 30%, transparent 0) 118px -80px,
      /* Base */ linear-gradient(63deg, transparent 67%, grey 0),
      linear-gradient(145deg, grey 50%, transparent 0) 0 45px,
      linear-gradient(grey 75%, black 0);
}
  
.everest::before {
    content: "";
    background: black;
    position: absolute;
    width: 60%;
    height: 30px;
    bottom: 0;
    left: 20%;
}

.everest::after {
    content: "";
    position: absolute;
    left: 31%;
    top: 15px;
    width: 0;
    height: 0;

    border-style: solid;
    border-width: 60px 0 0 60px;
    border-color: transparent transparent transparent black;
    transform: rotate(235deg) skewX(10deg);
    box-shadow: inset 0 0 0 3px black;
}
